.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 80%;
    margin: 0 auto;
}


.card {
    border: 0.1rem solid #e29828;
    width: calc(95% - 1rem);
    min-height: 27.5rem;
    position: relative;
    box-shadow: 0 .4rem .8rem rgba(33, 37, 41);
    overflow: hidden;
    background-color: #fff;
    transition: all 0.6s;
    cursor: Pointer;
    margin-bottom: 2rem;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.image-frame {
    display: flex;
    border: 0.3rem solid #e29828;
    overflow: hidden;
    background-color: rgba(33, 37, 41);
    height: 40%;
}

.card-hover:hover {
    transform: scale(1.08);
}

.open {
    z-index: 2;
    box-shadow: 0 1.6rem 1.6rem rgba(33, 37, 41);
    transform: scale(1.28);
}

.list-group-item {
    padding-left: 1.2rem;
    padding-right: .4rem;
    font-size: 0.8rem;
}
