.center {
    justify-content: center;
    width: 80%;
}

.card {
    width: calc(95% - 1rem);
    min-height: 27.5rem;
    position: relative;
    box-shadow: 0 .4rem .8rem rgba(33, 37, 41);
    background-color: #fff;
    transition: all 0.6s;
    cursor: Pointer;
    margin-bottom: 2rem;
}


.image-frame {
    display: flex;
    border: 0.3rem solid #e29828;
    background-color: #e29828;
    height: 40%;
}

.card-hover:hover {
    transform: scale(1.08);
}

.open {
    z-index: 2;
    box-shadow: 0 1.6rem 1.6rem rgba(33, 37, 41);
    transform: scale(1.28);
}

.list-group-item {
    padding-left: 1.2rem;
    padding-right: .4rem;
    font-size: 0.8rem;
}