
.golden-text {
    color: #e29828;
    -webkit-text-stroke: 1px;
}

.roman-numerals {
    margin-right: 10px;
    text-decoration: overline underline;
    font-family: sans-serif;
}

.roman-numerals::before {
    top: 50%;
}

.roman-numerals::after {
    top: 50%;
}

.nfts-text {
    display: block;
    font-size: 14px;
}

