* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: #eee9e9;
}

main {
  padding: 20px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#table {
  border: 0.1rem solid #dddddd;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;
}

th,
td {
  border: 0.1rem solid #dddddd;
  text-align: left;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.join-discord {
  display: inline-block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 20vw;
  max-width: 1.5vw;
  min-width: 0.5vw;
  z-index: 9;
}

.join-discord img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.5rem 0.5rem 0 0;
}